# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Maze_algorithm/.vs/CMake Overview
Maze_algorithm/.vs/Maze_algorithm/FileContentIndex/332aed66-4303-4cb7-aa39-a91b26e8a17e.vsidx
Maze_algorithm/.vs/Maze_algorithm/v17/.wsuo
Maze_algorithm/.vs/Maze_algorithm/v17/Browse.VC.db
Maze_algorithm/.vs/Maze_algorithm/v17/Browse.VC.db-shm
Maze_algorithm/.vs/Maze_algorithm/v17/Browse.VC.db-wal
Maze_algorithm/.vs/Maze_algorithm/v17/Browse.VC.opendb
Maze_algorithm/.vs/Maze_algorithm/v17/ipch/AutoPCH/e5f710e02a05a42e/MAZE_ALGORITHM.ipch
Maze_algorithm/.vs/ProjectSettings.json
Maze_algorithm/.vs/slnx.sqlite
Maze_algorithm/.vs/VSWorkspaceState.json
Maze_algorithm/CMakePresets.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-4c9c3720e74fe40e2f2b.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-8897729aad2d63a51939.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-e288ce6760e2507d1f45.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/index-2023-12-10T17-08-47-0555.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/target-Maze_algorithm-Debug-aaaa1b111a01b83b20bb.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-33d97187a3a53c5d7115.json
Maze_algorithm/out/build/x64-debug/.ninja_deps
Maze_algorithm/out/build/x64-debug/.ninja_log
Maze_algorithm/out/build/x64-debug/build.ninja
Maze_algorithm/out/build/x64-debug/cmake_install.cmake
Maze_algorithm/out/build/x64-debug/CMakeCache.txt
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CMakeCCompiler.cmake
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CMakeCXXCompiler.cmake
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CMakeDetermineCompilerABI_C.bin
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CMakeDetermineCompilerABI_CXX.bin
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CMakeRCCompiler.cmake
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CMakeSystem.cmake
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CompilerIdC/CMakeCCompilerId.c
Maze_algorithm/out/build/x64-debug/CMakeFiles/3.27.2-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Maze_algorithm/out/build/x64-debug/CMakeFiles/cmake.check_cache
Maze_algorithm/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
Maze_algorithm/out/build/x64-debug/CMakeFiles/Maze_algorithm.dir/embed.manifest
Maze_algorithm/out/build/x64-debug/CMakeFiles/Maze_algorithm.dir/intermediate.manifest
Maze_algorithm/out/build/x64-debug/CMakeFiles/Maze_algorithm.dir/manifest.rc
Maze_algorithm/out/build/x64-debug/CMakeFiles/Maze_algorithm.dir/manifest.res
Maze_algorithm/out/build/x64-debug/CMakeFiles/Maze_algorithm.dir/vc140.idb
Maze_algorithm/out/build/x64-debug/CMakeFiles/Maze_algorithm.dir/vc140.pdb
Maze_algorithm/out/build/x64-debug/CMakeFiles/rules.ninja
Maze_algorithm/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
Maze_algorithm/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
Maze_algorithm/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
Maze_algorithm/out/build/x64-debug/Maze_algorithm.ilk
Maze_algorithm/out/build/x64-debug/Maze_algorithm.pdb
Maze_algorithm/out/build/x64-debug/Testing/Temporary/LastTest.log
Maze_algorithm/out/build/x64-debug/VSInheritEnvironments.txt
Maze_algorithm/.vs/Maze_algorithm/FileContentIndex/31404b1a-6be0-4a23-bf9a-117cf33c3fb4.vsidx
Maze_algorithm/.vs/Maze_algorithm/FileContentIndex/79b1a5ba-8ea4-4dc8-8faa-df11a69d234d.vsidx
Maze_algorithm/.vs/Maze_algorithm/FileContentIndex/9e1276ca-c329-482b-aac1-f653bb2de664.vsidx
Maze_algorithm/.vs/Maze_algorithm/v17/ipch/AutoPCH/25b6618de0b364ec/MAIN.ipch
Maze_algorithm/.vs/Maze_algorithm/v17/ipch/AutoPCH/47a5e46dfb5a9a72/VCTMP6968_78091.MAZE_ALGORITHM.00000000.ipch
Maze_algorithm/.vs/Maze_algorithm/v17/ipch/AutoPCH/6ae9908261301568/MAIN.ipch
Maze_algorithm/.vs/Maze_algorithm/v17/Solution.VC.db
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-c0ee50c256e3f550bd0e.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-63213132e9a78f574c86.json
Maze_algorithm/out/build/x64-debug/.cmake/api/v1/reply/index-2023-12-19T17-36-08-0297.json
